/*  your css code here. If applicable */
.list{
    text-wrap: nowrap;
    overflow-x: scroll;
    width:100%;
}

::-webkit-scrollbar{
    display: none;
}
.my-card{
    width:180px;
    margin-right:20px;
    display: inline-block ;
}
.my-card>img{
    margin:auto;
}